<div *ngIf="hasProducts; else elseBlock">
  <h4>Cart</h4>
  <div>
    <button (click)="clearProducts()">Clear Cart</button>
  </div>
  <div>
    All products:
    <span class="paroduct-coutn">{{numberOfProduct}}</span>
  </div>
  <div>
    All price:
    <span class="product-price">{{summaryPrice | convertPrice}}</span>
  </div>
  <div>
    Sorted:
    <button (click)="onClick($event)">name</button>
    <button (click)="onClick($event)">Price</button>
    <button (click)="onClick($event)">Quentity</button>
  </div>
  <app-order-list [orderName]="orderName" [orderDirection]="orderDirection"></app-order-list>
  <app-cart-form></app-cart-form>
</div>
<ng-template #elseBlock>
  <div #elseWrapper>
    The Cart is Empty
  </div>
</ng-template>