<mat-card appActiveblock (click)="openDialog()">
    <mat-card-header>
      {{product.name}}
      <button (click)="deleteSelectedProduct(product)">X</button>
    </mat-card-header>
    <mat-card-content>
      <p>Color: <span>{{product.selectedColor}}</span></p>
      <p>Size: <span>{{product.selectedSize}}</span></p>
      <p>Price: <span>{{product.price | convertPrice}}</span></p>
      <p>Price: <span>{{product.quantity * product.price | convertPrice}} for {{product.quantity}} items</span></p>
    </mat-card-content>
  </mat-card>
