<div *ngIf="hasProducts; else elseBlock">
  <h4>Cart</h4>
  <div>
    <button (click)="clearProducts()">Clear Cart</button>
  </div>
  <div>
    All products:
    <span class="paroduct-coutn">{{numberOfProduct}}</span>
  </div>
  <div>
    All price:
    <span class="product-price">{{summaryPrice | convertPrice}}</span>
  </div>
  <div>
    Sorted:
    <button>name</button>
  </div>
  <app-order-list></app-order-list>
</div>
<ng-template #elseBlock>
  <div #elseWrapper>
    The Cart is Empty
  </div>
</ng-template>